.footer{
    background-color: darkolivegreen;
    color: azure;
    display: flex;
    padding: 20px;
    justify-content: space-around;
}
.footer-section{
    width: 30px;
    padding-bottom: 5px;
}
.footer-section h3{
    border :2px solid black;
    padding-bottom: 5px;
}
.footer-section ul {

    padding: 10px,;

}

.footer-section li {

    margin: 8px 0;

}

.footer-section a {

    color: rgb(255, 255, 255);

    text-decoration: none;

}

.footer-section:hover {

    text-decoration: underline;

}

.footer-section button {

    padding: 5px 10px;

}

.footer-bottom {

    background-color: black;

    color: whitesmoke;

    text-align: center;

    padding: 10px;

}

.footer-bottom a {

    color: white;

    text-decoration: none;

}